<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="doc_imgs/basic_flow.png" alt="Click 'Show' to see the image"></img>
      <div class="caption">
        <h3>Basic Flow</h3>
        <p>This illustrates the basic sequence with interaction with the session pool to obtain or create a session object.</p>
        <p><a href="doc_imgs/basic_flow.png" class="btn btn-primary" role="button" target="_blank">Show</a></p>
      </div>
    </div>
    <div class="thumbnail">
      <img src="doc_imgs/return_session_to_pool.png" alt="Click 'Show' to see the image"></img>
      <div class="caption">
        <h3>Last call in flow</h3>
        <p>This illustrates the sequence, where the session is being returned to the pool, as it is the last call in the flow.</p>
        <p><a href="doc_imgs/return_session_to_pool.png" class="btn btn-primary" role="button" target="_blank">Show</a></p>
      </div>
    </div>
    <div class="thumbnail">
      <img src="doc_imgs/component_diagram.png" alt="Click 'Show' to see the image"></img>
      <div class="caption">
        <h3>Module dependencies</h3>
        <p>This illustrates the dependencies between modules that make up the Developer Essentials project.</p>
        <p><a href="doc_imgs/component_diagram.png" class="btn btn-primary" role="button" target="_blank">Show</a></p>
      </div>
    </div>
  </div>
</div>